/* DEFINIÇÕES GLOBAIS */

body {
    background: #ffffff url('../img/escheresque.png');
}

/* HELPERS */

.col-centered {
    float: none;
    margin: 0 auto
}

.col-centered-vert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* SOBREPOSIÇÃO DOS PLUGINS */

.jGrowl-notification {
    box-shadow: 0 3px 5px rgba(0,0,0,.2) !important;
    color: #333333 !important;;
    background-color: #e1e1e1 !important;
    word-break: break-all;
}
.jGrowl-closer {
    display: none !important;
}